.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48
}

body.page1 {
  height: 90vh;
  display: grid;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
}

div.search {
  display: flex;
  align-self: end;
}

input#location {
  font-size: 1.2rem;
}

button.findBtn {
  /* this size is tuned to input field size */
  font-size: 1.37rem;
}

.loading {
  align-self: start;
}

.weatherInfo {
  display: grid;
  grid-template-columns: 2fr, 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  row-gap: 1rem;
}

.weatherGIF {
  grid-row : 1 / -1;
  grid-column: 1 / 2;
}

.temp {
  grid-row : 1 / 2;
  grid-column: 2 / 3;
}

.humidity {
  grid-row : 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-self: start;
}

.aqi {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}