.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48
}

body.page1 {
  height: 90vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

div.search {
  display: flex;
  align-items: center;
}

input#location {
  font-size: 1.2rem;
}

button.findBtn {
  /* this size is tuned to input field size */
  font-size: 1.37rem;
}