.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48;
  font-size: 1.2rem;
}

body.page1 {
  height: 90vh;
  display: grid;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
}

div.search {
  display: flex;
  align-self: end;
}

input#location {
  font-size: 1.2rem;
}

button.findBtn {
  /* this size is tuned to input field size */
  font-size: 1.37rem;
}

.loading {
  align-self: start;
}

body.page2 {
  display: grid;
  height: 95vh;
  align-content: space-around;
  justify-items: center;
}

.weatherInfo {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  align-items: center;
  column-gap: 1rem;
  border-radius: 8px;
  border: 2px solid black;
  padding-right: 1rem;
}

.weatherGIF {
  grid-row : 1 / -1;
  grid-column: 1 / 2;
  /* same radius does not seem to fit in flush with border */
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.temp {
  grid-row : 2 / 4;
  grid-column: 2 / 3;
  font-size: 2rem;
  align-self: end;
  justify-self: end;
}


.weatherInfo > .text {
  grid-row : 4 / 5;
  grid-column: 2 / 3;
  justify-self: end;
}

.humidity {
  grid-row : 5 / 6;
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-self: end;
}

.aqi {
  grid-row: 6 / 7;
  grid-column: 2 / 3;
  justify-self: end;
}

.location {
  grid-row : 7 / 8;
  grid-column: 2 / 3;
  justify-self: end;
  display : flex;
  align-items: center;
}

fieldset {
  width: max-content;
  border: 2px solid black;
  border-radius: 8px;
  padding: 1rem 2rem;
}

legend {
  margin: auto;
  font-size: 1.5rem;
}

.news {
  display: grid;
  row-gap: 0.75rem;
}